@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 50px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    background: #e5655d;

}
.clients-slider-block .slick-prev:hover,
.slick-prev:focus,
.clients-slider-block .slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: #e5655d;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
    z-index: 2;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    font-family: "Font Awesome 5 Free"; 
    font-weight: bold;
    content: '\f100';
}

[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 0px;
    z-index: 2;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    font-family: "Font Awesome 5 Free"; 
    font-weight: bold;
    content: '\f101';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -30px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 60px;
    height: 5px;
    margin: 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 60px;
    height: 5px;
   
    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 5px;

    content: ' ';
    text-align: center;


    
    color: black;
    background-color: #e3e3e3;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{    
    background: #e2534b;
}
/* ////////////////////////////////// Второй слайдер /////////////////////////////////////////// */
.clients-slider-block .slick-prev,
.clients-slider-block .slick-next {
    width: 40px;
    height: 40px;
    top: unset;
    bottom: -50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #98a3a3;
    -webkit-box-shadow: 0 6px 2px -2px gray;
            box-shadow: 0 6px 2px -2px gray;
}
.clients-slider-block .slick-prev:before,
.clients-slider-block .slick-next:before {
    font-size: 24px;
}
.clients-slider-block .slick-prev {   
    left: unset;
    right: 60px;
    z-index: 2;
}
.clients-slider-block .slick-prev:before {
    content: '\f053';
}
.clients-slider-block .slick-next:before {
    content: '\f054';
}
.clients-slider-block .slick-dots
{
    position: absolute;
    left: 0;
    bottom: -220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
}

.clients-slider-block .slick-dots li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


    width: 170px;
    height: 90px;
    padding: 0;

    cursor: pointer;
}
.clients-slider-block .slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 100%;
    height: 100%;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    background-position: 50% 50%;
    background-size: cover;
}
.clients-slider-block .slick-dots li button:before {
    background: transparent;
}
@media screen and (max-width: 768px){
    .slick-prev,
    .slick-next
    {
        width: 20px;
        height: 30px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 20px;
    }
    .clients-slider-block .slick-prev {   
        left: unset;
        right: 70px;
        z-index: 2;
    }
    .clients-slider-block .slick-next {
        right: 20px;
    }
    .clients-slider-block .slick-dots {
        top: 0;
        bottom: unset;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 20px;
        height: auto;
        position: relative;
    }
    .clients-slider-block .slick-dots li {
        width: 40%;
    }
}